body {
	
  height: 100%;
  padding: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #c0c0c0;
}


button {
  padding: 8px 16px;
  margin: 8px;
  font-size: 24px;
  background-color: black;
  border-radius: 15%;
  width: 140px;
  color:rgba(242, 66, 54, 1);
  letter-spacing: 1px;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 64px;
  font-family: 'Abril Fatface', serif;
  font-weight: 700;
  padding: 8px;
  letter-spacing: 3px;
  margin-top: -50px;
}
img {
  height: 40px;
}

.pcards1, .dcards1 {

  display: flex wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 400 px;
  padding: 14px;
}

/* .container{
  background-color: rgba(237,235,225,0.5);
} */

#play {
  background-color: black;
  width: 305px; 
}


#dealersum, #playersum {
  color:white;
  font-size: 24px;
}

#red {
  color: rgba(242, 66, 54, 1);
}

#bet, p {
  color: black;
  margin-top: -10px;
}

#two, #five, #ten {
  text-align: center;
  border-radius: 50%;
  height:60px;
  width: 60px;
  color:red;
  background-color: black;
  border:2px white dashed;
}


#two:hover {
 color:white; 
 background-color: red;
 border:2px white dashed;
}

#five:hover {
  color:white; 
  background-color: green;
  border:2px white dashed;
 }

 #ten:hover {
  color:white; 
  background-color: blue;
  border:2px white dashed;
 }

 #deal-cards:hover {
  border:2px white dotted;
  color: white;
  background-color: goldenrod;
 }

#sign {
  width:40px;
}

#playersum, #dealersum  {
  color: black;
  background-color: #45699080;
}





