body {
	background-color: #075136;
  color: white;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y:hidden;  
  padding: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



button {
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  background-color: gold;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15%;
  width: 100px;
  color: navy;
}

button:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}