body {
	background-color: #c0c0c0;
  height: 100%;
  /* overflow-y:hidden;   */
  padding: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  background-color: #c0c0c0;
/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23000000' fill-opacity='0.03'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E"); */
  /* border: 10px solid purple; */
}


button {
  padding: 8px 16px;
  margin: 8px;
  font-size: 24px;
  /* background-color: rgb(241, 218, 90); */
  background-color: black;
  border-radius: 15%;
  width: 140px;
  color:rgba(242, 66, 54, 1);
  letter-spacing: 1px;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 64px;
  font-family: 'Abril Fatface', serif;
  font-weight: 700;
  /* margin: 8px 0; */
  padding: 8px;
  letter-spacing: 3px;
  /* border: 10px solid orange; */
}
img {
  height: 40px;
}

#play {
  background-color: black;
}
/* 
#card-container {
  display: flex;
  flex-wrap: wrap;
} */

.pcards1, .dcards1 {

  display: flex wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 400 px;
  padding: 14px;
  /* gap:  16px; */
}

#dealersum, #playersum {
  color:white;
  font-size: 24px;
}

#red {
  color: rgba(242, 66, 54, 1);
}

#bet, p {
  color: black;
}

#two, #five, #ten {
  text-align: center;
  border-radius: 50%;
  height:60px;
  width: 60px;
  color:red;
  background-color: black;
}

#sign {
  width:40px;
}

#playersum, #dealersum  {
  color: black;
  background-color: #45699080;
}





